.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.view-info {
  position: relative;
  top: 60px;
  color: #00203e;
  background-color: #f1f1f1;
  text-align: center;
  padding-bottom: 0px;
  padding-top: 20px;
  word-break: break-word;
}

.left {
  text-align: left !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.container {
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 50px;
  margin-left: 50px;
}

.container:after {
  display: block;
  clear: both;
  content: " ";
}
.container:before {
  display: block;
  clear: both;
  content: " ";
}