
.view {
    position: relative;
    top: -30px;
    display: block;
}

.row {
    position: relative;
    min-width: 660px;
    margin-right: -15px;
    margin-left: -15px;
}
.row::after {
    display: block;
    clear: both;
    content: " ";
}

.page-header {
    font: 25px Arial, Helvetica;
    margin: 0 1%;
    padding: 7px;
}