.view-row {
    display: table-row;
    height: 100%;
}
.view-row::after {
    display: table-row;
    clear: both;
    content: " ";
}

.field-title {
    background-color: #4b6063;
    display: table-cell;
    padding: 5px 10px;
    border-bottom: 1px solid #1c3f28;
    text-align: left;
    font: 14px Arial, Helvetica;
    color: white;
}

.field-value {
    display: table-cell;
    padding: 5px 10px;
    border-bottom: 1px solid #1c3f28;
    font: 14px Arial, Helvetica;
    word-break: break-word;
    color: #00203e;
}