.list {
    display: table;
    background-color: white;
    color:  #00203e;
    float: right;
    width: 39%;
    min-width: 258px;
    margin: 2%;
    padding-right: 10px;
    padding-left: 10px;
    min-height: 1px;
    font: 14px Arial, Helvetica;
}

.list-header {
    display: table-row;
    position: relative;
    background-color: #4b6063;
    color:  white;
}

.Asn {
    display: table-cell;
    padding: 5px 10px;
    width: 65%;
    margin: 1%;
}

.Country {
    display: table-cell;
    padding: 5px 10px;
    width: 35%;
    margin: 1%;
}

.view-row {
    width: 100%;
    position: relative;
    display: table-row;
}

.left-field-item {
    position: relative;
    border-bottom: 1px solid #1c3f28;
    display: table-cell;
    width: 65%;
}

.right-field-item {
    position: relative;
    border-bottom: 1px solid #1c3f28;
    display: table-cell;
    width: 35%;
}

.field-platform {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
}

.field-local-asn {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
}

.field-city {
    padding-right: 10px;
    padding-top: 5px;
    padding-left: 10px;
}